app:
  web:
    enabled: true
    host: :8080
    log:
      format: "${time} | ${method} | ${path} | ${status} | ${ip} | ${latency}\n"
    cors:
      allow_origins: '*'
    pprof:
      enabled: true
    views:
      enabled: true
      layout: layout
    static:
      enabled: true
  grpc:
    enabled: true
    host: :8081

is_testing: true

sql:
  default:
    driver: postgresql
    dsn: 'host=localhost user=root password=123123 database=postgres port=5432 sslmode=disable'
    enabled: true

cache:
  default:
    driver: redis
    dsn: 'redis://localhost'
    enabled: true

message_brokers:
  default:
    driver: rabbitmq
    dsn: amqp://guest:guest@localhost:5672/

security:
  secret: mantep

http:
  wa:
    url: "https://api.dripsender.com/send"
    with:
      key: 95027b0d-7b98-42d4-b095-e4147a770a59
      secret: josjos
  good:
    url: https://facebook.com/api

smtp:
  email:
    host: smtp.gowok.com
    port: 2525
    user: admin
    password: iqueo3u8ur83uqe89u3q89eu
    from: no-reply@gowok.com

notification:
  onesignal:
    app_id: xxx-xxx-xxx
    rest_api_key: xxx-xxx-xxx

